

<a href="/user/combo/products" class=" categoryButton" data-category="" title="combo items">
  <div class="category-details">
   <div class="category-img">
     <img src="/images/cat/special-offer.png" alt="special-offer" class="">
   </div>
   <div class="category-name">
     <p> Change password</p>
   </div>
  </div>
</a>

<a href="/user/combo/products" class=" categoryButton" data-category="" title="combo items">
  <div class="category-details">
   <div class="category-img">
     <img src="/images/cat/special-offer.png" alt="special-offer" class="">
   </div>
   <div class="category-name">
     <p> Change Phone number</p>
   </div>
  </div>
</a>

<a href="/user/combo/products" class=" categoryButton" data-category="" title="combo items">
  <div class="category-details">
   <div class="category-img">
     <img src="/images/cat/special-offer.png" alt="special-offer" class="">
   </div>
   <div class="category-name">
     <p> Help</p>
   </div>
  </div>
</a>
<a href="/user/combo/products" class=" categoryButton" data-category="" title="combo items">
  <div class="category-details">
   <div class="category-img">
     <img src="/images/cat/special-offer.png" alt="special-offer" class="">
   </div>
   <div class="category-name">
     <p> Settings</p>
   </div>
  </div>
</a>


<% if (userData?.is_exclusive) { %>
<a href="/user/exclusive/products" class="categoryButton" data-category="exclusive" title="Exclusive items">
  <div class="category-details">
    <div class="category-img">
      <img src="/images/cat/vip.png" alt="" class="">
    </div>
    <div class="category-name">
      <p>Exclusive items</p>
    </div>
  </div>
</a>
<% } %>