<div class="home-buttons-container">

  <a href="/user/combo/products" class="categoryButton" data-category="" title="combo items">
    <div class="home-buttons">
      <div class="category-img">
        <img src="/images/cat/special-offer.png" alt="special-offer" class="">
      </div>
      <div class="category-name">
        <p>View All Games</p>
      </div>
    </div>
  </a>
  <a href="/user/combo/products" class="categoryButton" data-category="" title="combo items">
    <div class="home-buttons">
      <div class="category-img">
        <img src="/images/cat/special-offer.png" alt="special-offer" class="">
      </div>
      <div class="category-name">
        <p>Available slots</p>
      </div>
    </div>
  </a>
  <a href="/user/combo/products" class="categoryButton" data-category="" title="combo items">
    <div class="home-buttons">
      <div class="category-img">
        <img src="/images/cat/special-offer.png" alt="special-offer" class="">
      </div>
      <div class="category-name">
        <p>Double or Non</p>
      </div>
    </div>
  </a>
  <a href="/user/combo/products" class="categoryButton" data-category="" title="combo items">
    <div class="home-buttons">
      <div class="category-img">
        <img src="/images/cat/special-offer.png" alt="special-offer" class="">
      </div>
      <div class="category-name">
        <p>Combo items</p>
      </div>
    </div>
  </a>

