
            <div class="owl-carousel owl-theme">
  
              <div class="item">
                <h4>Welcome to Our Service</h4>
                <p>We offer quality products and amazing deals every day!</p>
              </div>
              <div class="item">
                <h4>Refer a Friend</h4>
                <p>Refer a friend and earn rewards! More friends, more bonuses!</p>
              </div>
    
          </div>
